<h1>Pages#portfolio</h1>

  <span class="portfolio caption">Lanscape filled in, side yard looking north:</span><br>
  <br>

<div style="max-width: 50%; padding-bottom: 67%; border: 1px solid red; background: green; position: relative;">
  <img src="<%=image_url('Garland.After.FilledIn.SideYard.LookingNorth.JPG')%>" alt="Side yard at Garland" width="132%"  class="rotate90CW" style="position: absolute;top:13%; left:-16%;" />
</div>

<div style="max-width: 50%; padding-bottom: 67%; border: 1px solid green; background: gold; position: relative;">
  <img src="<%=image_url('Garland.After.FilledIn.SideYard.LookingNorth.JPG')%>" alt="Side yard at Garland" width="132%"  class="rotate90CW" style="position: absolute;top:13%; left:-16%;" />
</div>

<div style="width:50%; max-width: 50%; padding-bottom: 75%; border: 1px solid blue">
</div>

<div style="float:right; width:50%; max-width: 50%;">
  <span class="portfolio caption">Lanscape filled in, side yard looking south west:</span><br>
  <img src="<%=image_url('Garland.After.FilledIn.SideYard.LookingSW.jpg')%>" alt="Side yard at Garland" width="100%"/>
</div>

<br>

<!--
<div style="- -aspect-ratio:4/3; width:50%; max-width: 50%; height: 75%">
  <img src="<%=image_url('Garland.After.FilledIn.SideYard.LookingNorth.JPG')%>" alt="Side yard at Garland" width="70%"  class="rotate90CW"/>
</div>

<div style="float:right; width:50%; max-width: 50%;">
  <span class="portfolio caption">Lanscape filled in, side yard looking south west:</span><br>
  <img src="<%=image_url('Garland.After.FilledIn.SideYard.LookingSW.jpg')%>" alt="Side yard at Garland" width="100%"/>
</div>

<br>
-->
<div>
  <span class="portfolio caption">Landscape Design:</span><br>
  <img src="<%=image_url('Garland.Portfolio.png')%>" alt="Landscape Design" width="100%"/>
</div>

<div style="float:left; width:50%; max-width: 50%;">
  <span class="portfolio caption">Before:</span><br>
  <img src="<%=image_url('Garland.Before.Side_Yard.Color_Adjusted.jpg')%>" alt="Before" width="100%"/>
</div>

<div style="float:right; width:50%; max-width: 50%;">
  <span class="portfolio caption">Just after planting, side yard looking north east:</span><br>
  <img src="<%=image_url('Garland.After.JustPlanted.SideYard.LookingNorth.jpg')%>" alt="Just After Planting" width="100%"/>
</div>
