<!DOCTYPE html>
<html>
  <head>
    <title>SageCreek</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <a name="top"/>
    <header>
      <div id='top_logo_banner' width="100%">
        <img src="<%=image_url('SageCreelHort.Logo.Interim.banner.2.jpg')%>" alt="Sage Creek Horticulture" width="100%"/>
      </div>
      <%= render partial: "shared/nav_bar", locals: {location: "header"} %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render partial: "shared/nav_bar", locals: {location: "footer"} %>
    </footer>
  </body>
</html>
